* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100vh;
  font-family: "Microsoft Yahei";
  color: #333;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
ul {
  list-style: none;
}
#root,
.App {
  height: 100vh;
}
a {
  text-decoration: none;
}
:global .adm-nav-bar {
  line-height: 45px;
}
